
<div class="chat__conversation-board__message-container">
    <div class="chat__conversation-board__message__person">
        <div class="chat__conversation-board__message__person__avatar"><img
                src="https://randomuser.me/api/portraits/women/44.jpg" alt="Monika Figi" /></div><span
            class="chat__conversation-board__message__person__nickname">Monika Figi</span>
    </div>
    <div class="chat__conversation-board__message__context">
        <div class="chat__conversation-board__message__bubble">
             <h2>{% block bot_template %}  {% endblock bot_template %} </h2>
        </div>
    </div>
</div>
