<div class="chat__conversation-board__message-container reversed">
    <div class="chat__conversation-board__message__person">
        <div class="chat__conversation-board__message__person__avatar"><img
                src="https://randomuser.me/api/portraits/men/9.jpg" alt="Dennis Mikle" /></div><span
            class="chat__conversation-board__message__person__nickname">Me</span>
    </div>
    <div class="chat__conversation-board__message__context">
        <div class="chat__conversation-board__message__bubble">
            <h2>
                {% block human_template %}

                {% endblock human_template %}
            </h2>
        </div>
    </div>
</div>